* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    image-rendering: pixelated;
}
body{
    overflow: hidden; 
    background: #444 
}
[material]{
    background-size: contain;
}
.mcgui {
    background: #c7c7c7;
    position: fixed;
    top: calc((100% - 432px) / 2);
    left: 10px;
    width: 432px;
    height: 288px;
    padding: 10px;
    padding-bottom: 13px;
    border: black solid 3px;
    border-radius: 10px;
}
.mcgui::before{
    content: " ";
    position: absolute;
    opacity: 0.9;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-top: 4px solid #f8f8f8;
    border-left: 4px solid #f8f8f8;
    border-radius: 7px;
    pointer-events: none;
    z-index: 4;
}
.mcgui::after{    
    content: " ";
    position: absolute;
    opacity: 0.9;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-bottom: 4px solid #4E534F;
    border-right: 4px solid #4E534F;
    border-radius: 7px;
    pointer-events: none;
    z-index: 0;
}


.mcgui>.constainer{
    background: red;
    margin: 3px 0 0 3px;
}

.mcgui>.constainer>span{
    background: #8C8A8D;
    position: relative;
    display: inline-block;
    padding: 0;
    width: 48px;
    height: 48px;
    margin: 0px -3.55px -7px -3.50px;
}
.mcgui>.constainer>span::before{
    /* content: " "; */
    position: absolute;
    opacity: 0.8;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-top: 3px solid #1e1e1e;
    border-left: 3px solid #1e1e1e;
    pointer-events: none;
    z-index: 4;
}
.mcgui>.constainer>span::after{    
    /* content: " "; */
    position: absolute;
    opacity: 0.9;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-bottom: 3px solid #f7f7f7;
    border-right: 3px solid #f7f7f7;
    pointer-events: none;
    z-index: 0;
}

[amount]:not([amount="1"])::before{
    content: attr(amount);
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-weight: 600;
}